{% extends 'profiles/student/base_generic.html' %}
{% block content %}

<div class="calendar title">
        {% for day in days %}
            <h2 class>{{ day.0 }}</h2>
            {% for course in day.1 %}
                <table class="middle">
                    <tr>
                        <td> {{ course.name }}</td>
                        <td> {{ course.start_date }}</td>
                        <td> {{ course.end_date }}</td>
                    </tr>
                </table>
            {% endfor %}
        {% endfor %}
</div>
<div class="button submit-btn">
    <a href="{% url 'client_module:user_view' %}">Go Back</a>
</div>
{% endblock %}

