{% extends 'profiles/teacher/base_generic.html' %}
{% block content %}

<div class="calendar title">
    <h2 class="middle big-border">Monday</h2>
        {% if monday %}
            {% for course in monday %}
                <table  class="title" style="width:100%">
                    <tr>
                        <td> {{ course.name }}</td>
                        <td> {{ course.start_date }}</td>
                        <td> {{ course.end_date }}</td>
                    </tr>
                </table>
            {% endfor %}
        {% endif %}
    <h2 class="big-border">Tuesday</h2>
        {% if tuesday %}
            {% for course in tuesday %}
                <table  class="title" style="width:100%">
                    <tr>
                        <td> {{ course.name }}</td>
                        <td> {{ course.start_date }}</td>
                        <td> {{ course.end_date }}</td>
                    </tr>
                </table>
            {% endfor %}
        {% endif %}
    <h2 class="big-border">Wednesday</h2>
        {% if wednesday %}
            {% for course in wednesday %}
                <table  class="title" style="width:100%">
                    <tr>
                        <td> {{ course.name }}</td>
                        <td> {{ course.start_date }}</td>
                        <td> {{ course.end_date }}</td>
                    </tr>
                </table>
            {% endfor %}
        {% endif %}
    <h2 class="big-border">Thursday</h2>
        {% if thursday %}
            {% for course in thursday %}
                <table  class="title" style="width:100%">
                    <tr>
                        <td> {{ course.name }}</td>
                        <td> {{ course.start_date }}</td>
                        <td> {{ course.end_date }}</td>
                    </tr>
                </table>
            {% endfor %}
        {% endif %}
    <h2 class="big-border">Friday</h2>
        {% if friday %}
            {% for course in friday %}
                <table  class="title" style="width:100%">
                    <tr>
                        <td> {{ course.name }}</td>
                        <td> {{ course.start_date }}</td>
                        <td> {{ course.end_date }}</td>
                    </tr>
                </table>
            {% endfor %}
        {% endif %}
</div>
<div class="button submit-btn">
    <a href="{% url 'teacher_module:teacher_profile_view' %}">Go back</a>
</div>
{% endblock %}